*{
  margin: 0;
  padding: 0;
}

svg{
margin-bottom: 35px ;
}

.cls-1 {
  fill: url(#radial-gradient-3);
}

.cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9, .cls-10, .cls-11, .cls-12, .cls-13 {
  mix-blend-mode: screen;
}

.cls-14 {
  fill: url(#linear-gradient-2);
}

.cls-15 {
  mix-blend-mode: saturation;
}

.cls-15, .cls-16 {
  fill: #ff916b;
}

.cls-17 {
  fill: #e0fffc;
}

.cls-18 {
  fill: #9886af;
}

.cls-2 {
  fill: url(#radial-gradient-7);
}

.cls-3 {
  fill: url(#radial-gradient-4);
  opacity: .2;
}

.cls-19 {
  stroke: #9886af;
  stroke-width: 8.504px;
}

.cls-19, .cls-5, .cls-20 {
  fill: none;
  stroke-miterlimit: 10;
}

.cls-19, .cls-21 {
  mix-blend-mode: color-burn;
}

.cls-22 {
  isolation: isolate;
}

.cls-4 {
  fill: url(#radial-gradient-6);
}

.cls-4, .cls-9 {
  opacity: .5;
}

.cls-23 {
  fill: url(#linear-gradient);
  mix-blend-mode: lighten;
  opacity: .74;
}

.cls-5 {
  opacity: .03;
  stroke: #fff;
  stroke-width: 2px;
}

.cls-24 {
  mix-blend-mode: color;
  opacity: .44;
}

.cls-24, .cls-25 {
  fill: #fffc9c;
}

.cls-6 {
  fill: url(#radial-gradient-5);
  opacity: .15;
}

.cls-20 {
  stroke: #e0fffc;
  stroke-width: 14.529px;
}

.cls-7 {
  fill: url(#radial-gradient-10);
}

.cls-8 {
  fill: url(#radial-gradient-12);
}

.cls-26 {
  clip-path: url(#clippath);
}

.cls-9 {
  fill: url(#radial-gradient-8);
}

.cls-10 {
  fill: url(#radial-gradient-9);
}

.cls-11 {
  fill: url(#radial-gradient-2);
}

.cls-12 {
  fill: url(#radial-gradient);
  opacity: .25;
}

.cls-27 {
  mix-blend-mode: screen;
  opacity: .86;
}

.cls-13 {
  fill: url(#radial-gradient-11);
}

.cls-28 {
  mix-blend-mode: darken;
}

.clas-1 {
  isolation: isolate;
}

.clas-2 {
  stroke-width: 10.698px;
}

.clas-2, .clas-3, .clas-4 {
  fill: none;
  stroke: #ff916b;
  stroke-miterlimit: 10;
}

.clas-3 {
  stroke-width: 9.2px;
}

.clas-4 {
  stroke-width: 5.669px;
}

.clas-5 {
  mix-blend-mode: overlay;
}