@font-face {
    font-family: broadw;
    src: url(fonts/BROADW.TTF);
}

@font-face{
    font-family: for;
    src: url(fonts/FORTE.TTF);
}

body{
    background-color: #e0fffc;
}

.cls-1{
     position: absolute;
     top: 0;
     bottom: 0;
}

img{
    max-width: 275px;
    margin-bottom: 10px; 
}


.b-m{
    margin: 15px;
}

.b-1:hover{
    scale: 0.95;
}

.b-1{
    width: fit-content;
    height: fit-content;
    padding: 3px 12px ;
    background-color:#fffc9c ;
    box-shadow: 0px 5px 2.5px   #9886af;
    border: none;
    border-radius: 50px;
}


 body,.cls-1,.cls-2, .b-m ,.i{
    align-items: center;
    justify-content: center;
    display: flex;
}

a{
    text-decoration: none;
}

.t-a{
    width: fit-content;
    height: auto;
    margin: auto;
}


.t-1 ,.t-2{
    color:#9886af; 
    margin : auto;
}

.t-2{
    font-family: for;
       margin-bottom: 13px;
}

.t-1{
    font-size: 23px; 
     font-family: broadw;
}

.icon{ 
    margin: 15px auto;
    width: 60%;
  display: flex;
  justify-content: space-between;
}

.i{
    width: 32px;
    height: 32px;
    background-color: #9886af;
    border-radius: 50%;
    padding: 0.5px;
}


.fa-brands{
    scale: 1.4;
}

@media(max-width: 400px){
    img{
        max-width: 245px;
        max-height: 245px ;
    }

    .fa-brands{
        scale: 1.2;
    }
}