*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: broadw;
    src: url(fonts/BROADW.TTF);
}
@font-face{
    font-family: for;
    src: url(fonts/FORTE.TTF);
}

.con{
    width: 100%;
    height: 100vh;
    background-color: #e0fffc;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    background: #9886af;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 20px;
}

form h3{
    color:#fffc9c ;
font-size: 25px;
}

form h3,form button{
    font-family: broadw;
    margin: 20px auto;
}


form input,form textarea{
    border:0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: white;
    border-radius: 20px;
    font-size: 16px;
    font-family: for;
}
form button{
    padding: 15px;
    background: #fffc9c  ;
    color: #9886af;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width : 150px;
    border-radius: 30px;
}

.th{
    display: none;
}